# Godot 4+ specific ignores
*.import
*.cfg
*.tscn
/.godot

# Exports
*.zip

# Personal plugins
wakatime_logo.jpg
/addons/wakatime

.godot/editor/script_editor_cache.cfg
/.godot
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/SLib.tscn-editstate-5a7cac20d6b21ac79ba0a1f102166743.cfg
